{% extends 'index.html' %}
{% block tasks %}
<section class="flex">
  <h1 class="text-center">crear tarea</h1>
  <div class="flex items-center justify-center min-h-screen min-w-screen">
    <div class="relative min-w-[400px] max-w-[400px] min-h-[500px] max-h-[500px] border border-black bg-gray-100 drop-shadow-2xl">
      <div class="absolute flex flex-col w-full space-y-5 py-8">
        <article class="grid-flow-col">
          <h1 class="text-center">nota</h1>
          {% if form  %}
          <form action="" method="POST" class="flex flex-col">
              {% csrf_token %}
              {{form}}
              <button type="submit">Guardar tarea</button>
           
            <h2 class="absolute bottom-0 right-2 p-1 font-mono text-xs font-bold">send</h2>
          </form>
          {% endif %}
          {{message}}
          <div class="text-center">
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{% endblock %}
