<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>created tasks</title>
</head>

<body>
    <div class="flex items-center justify-center min-h-screen min-w-screen">
        <!-- copy element start in here -->
        <div
            class="relative min-w-[400px] max-w-[400px] min-h-[500px] max-h-[500px] border border-black bg-gray-100 drop-shadow-2xl">
            <div class="absolute flex flex-col w-full space-y-5 py-8">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
                <hr class="border-zinc-400 mx-2">
            </div>
            <!-- isi teks mulai dari sini -->
            <h1 class="absolute top-2 text-[18px] font-bold tracking-wider inset-x-0 text-center">Belajar Javascript
            </h1>
            <p class="absolute top-[54px] left-2 max-w-[380px] leading-[20.8px] break-all whitespace-break-spaces">Oke
                hari ini kita akan belajar javascript bersama saya zaadevofc (kejaa). A-aa-a anjayy.

                Pada pembelajaran kali ini saya akan memberi tau
                bagaimana cara menembak cewek dengan menggunakan
                javascript.

                Tapi kapan - kapan aja.

                Follow github : <span class="text-blue-500">https://github.com/zaadevofc</span>
                My Portfolio : <span class="text-blue-500">https://zaadevofc.tech</span>
            </p>
            <!-- isi teks akhir sampai sini -->
            <h1 class="absolute bottom-0 right-2 p-1 font-mono text-xs font-bold">zadper</h1>
        </div>
        <!-- copy element stop in here -->
    </div>

    <!-- See my profile for more components ~ -->

</body>

</html>