{% extends 'index.html' %}
{% block tasks %}
  <section class="grid place-items-center">
    <div class="flex justify-center">
      <h1>lista de tareas</h1>
    </div>
    <div class="flex justify-items-center">
      {% if tasks %}
        <ul class="p-2">
          {% for task in tasks %}
            <article class="p-1">
              <div class="bg-slate-400">
                tareas: <strong>{{ task }}</strong>
                <div class="bg-slate-200">{{ task.description }}</div>
                <div>
                  <a href="{% url 'deleteTask' task.id %}">x</a>
                  <a href="{% url 'updateTask' task.id %}">edit</a>
                </div>
              </div>
            </article>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <button><a href="{% url 'create' %}">Crear usuario</a></button>
  </section>
{% endblock %}
