<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear usuario</title>
</head>

<body>
    <h1>crear usuario</h1>
    {% if form %}
        <form action="" method="POST"> 
            {% csrf_token %}
            {{form}}
            <input type="submit" value="crear usario">
        </form>
    {% endif %}
    <p>{{message}}</p>

    <a href="{% url 'getusers' %}">lista de usuarios</a>
</body>

</html>