{% extends 'index.html' %}

{% block tasks %}
  <section class="grid place-items-center">
    <div class="flex justify-center">
      <h1>lista de usarios</h1>
    </div>
    <div class="flex flex-col justify-items-center">
      {% if users %}
        <ul class="p-2">
          {% for user in users %}
            <li class="p-1">
              usuario: <strong>{{ user }}</strong>, email: {{ user.email }}
              <a href="{% url 'delete' user.id %}">x</a>
              <a href="{% url 'update' user.id %}">edit</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
      <button>
        <a  href="{% url 'create' %}">Crear usuario</a>
      </button>
  </section>
{% endblock %}
